 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

 }

 .header {
   text-align: center;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: black 5px 5px 10px;
   color: #d6dada;
   margin: 10px;
   padding: 5px;
   background-color: #45616c;
   border: solid #293933 3px;
 }

 .searchArea {
  font-weight: bolder;
  border-radius: 5px;
   border: solid black 2px;
   margin-right: 20px;
   margin: 10px;
   padding: 10px;
   clear: both;
   float: left;
   width: 33%;
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: #dceaa4;
   caret-color:blue;
 }

 .button {
   border-radius: 5px;
   padding: 5px;
   margin-left: 25px;
 }

 .cityButtons {
  border-radius: 10px;
  margin:10px;
  padding:10px;
  display: flex;
  justify-content: space-around;
 }