 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

 }

 .header {
   text-align: center;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: black 5px 5px 10px;
   color: #d6dada;
   margin: 10px;
   padding: 5px;
   background-color: #45616c;
   border: solid #293933 3px;
 }

.cityMain {
  font-weight: bolder;
}

.cities {
  list-style: none;
}

 .searchArea {
   font-weight: bolder;
   border-radius: 5px;
   border: solid black 2px;
   margin-right: 20px;
   margin: 10px;
   padding: 10px;
   clear: both;
   float: left;
   width: 20%;
   height: 595px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: #dceaa4;
   caret-color: blue;
 }

 .button {
   border-radius: 5px;
   padding: 5px;
   margin-left: 25px;
 }

 .cityButtons {
   border-radius: 10px;
   /* margin:10px; */
   /* padding:10px; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;

 }

 .box {
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   /* align-items: right; */
   width: 78%;
   height: 300px;
   border: 2px solid black;
   border-radius: 5px;
   padding: 10px;
   margin: 20px;
   font-weight: 500;
 }

 .lowerBox {
  
   display: flex;
   justify-content: space-around;
   width: 78%;
   height: 275px;
   border: 2px solid black;
   border-radius: 5px;
   padding: 50px;
   margin: 20px;
   margin-right: 10px;
 }

 .innerBox {
  font-size: 18px;
 }

 .uvcolor {
  width: 30px;
  height: 30px;
  margin: 3px;
  background-color:white;
}
/* 
.low {
  background: #558B2F;
}

.mod {
  background: #F9A825;
}

.high {
  background: #EF6C00;
}

.vhigh {
  background: #B71C1C;
}

.extr {
  background: #6A1B9A;
} */



 #momentDate {
  /* text-align:center; */
  font-weight: bold;
 }